@font-face {
    font-family: "iconfont"; /* Project id 3129414 */
    src: url('iconfont.woff2?t=1641802742570') format('woff2'),
         url('iconfont.woff?t=1641802742570') format('woff'),
         url('iconfont.ttf?t=1641802742570') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-wangyiyunyinle:before {
      font-size: 22px;
      color: rgb(221, 0, 27);
    content: "\e675";
  }
  
  